<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lvl1-2-4</title>
</head>
<body>
    <img src="./img/cat.jpg" alt="cat">
    <h1>Транзисторы</h1>
    <% for(let i=0; i<db.length;i++) {%>
        <p><a href="./goods/<%=i %>"><%=db[i].title %></a></p>
    <%} %>
    <h2>Версія <a href="./fromjson">з ajax</a></h2>
    

</body>
</html>